@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
    height: 70px;
    background-color: #e9bfbf;
}

.wrapper {
    height: calc(100vh - 70px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.items-list {
    padding: 1%;
    max-width: 100%;
    display: flex;
    overflow-x: auto;
}

.item {
    margin: 10px;
    padding: 20px;
    min-height: 350px;
    min-width: 250px;
    background-color: #222;
    color: #fff;
    box-shadow: 0 0 20px 1px #ecdede;
    border-radius: 10px;
    line-height: 1.5;
}

.item > span {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}

.vote i {
    color: #FAFF00;
}
